*{
    padding: 5px 5px;
   
}
body{
    background-color: #fff;
    color: black;
 
}
.logo{
    font-size: 20px;
    color: black;
}
.container{
padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  flex-wrap: wrap;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
 
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a:hover{
    color: rgb(233, 12, 214);
}
.row{
    display: flex;
    justify-content: space-between;
   
  
}
.header-text{
    margin-top: 10%;
   font-size: 25px;
   flex-basis: 55%;
}
.header-text h1{
    color: black;
    margin-top: 20px;
   
}
.header-text span{
    color:rgb(233, 12, 214);
}
.header-text p{
    color: black;
    margin-top: 2px;
}
.headerimg{
    flex-basis: 45%;
}
.headerimg img{
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.container1{
    padding-top: 50px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-size: 50px;
    color: black;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraph{
    font-size: 20px;
    flex-basis: 70%;
    display: flex;
}







.about-col-2{
    flex-basis: 100%;

}



#portfolio{
    padding: 50px 0;

}
.sub-title{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 80%;
    
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),rgb(233, 12, 214));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: rgb(233, 12, 214);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.5);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid rgb(233, 12, 214);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #000000;
    transition: background 0.5s;
}
.btn:hover{
    background:rgb(233, 12, 214);
}

.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #0c0c0c;
}

.contact_left{
    flex-basis: 35%;
}
.contact_right{
    flex-basis: 60%;

}
.contact_left p{
    margin-top: 30px;
}
.contact_left p i{
color:rgb(233, 12, 214);;
margin-right: 15px;
font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:rgb(233, 12, 214);;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:rgb(233, 12, 214);;
}
.contact_right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: none;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-bottom: 1px solid rgb(233, 12, 214);
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
footer{
    background-color:  rgb(233, 12, 214);
}

.copyright{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}




